@tailwind base;

/* Scrollbar modification */

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 0.1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 0.2);
  border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add this CSS to your stylesheet or component styles */
.rt-DialogOverlay {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Adjust the alpha value to control darkness */
  backdrop-filter: blur(8px); /* Adjust the blur value to control blurriness */
}

.rt-TextAreaInput {
  @apply bg-slate-950 text-white text-sm placeholder:text-white;
}

.rt-SelectTriggerInner {
  @apply text-white;
}

.rt-SelectTrigger:where(.rt-variant-surface):where([data-placeholder])
  :where(.rt-SelectTriggerInner) {
  @apply text-white;
}
